*{
    margin: 0;
    padding: 0;
}
.container{
    height: 6rem;
    background-color: antiquewhite;
    /* Flex */
    display: flex;
    justify-content:center;
    align-items: center;
    /* Grid */
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.header-text{
    padding-right:20px ;
}